<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Meridian bs3 templates">
    <meta name="author" content="v.sergeev.m@gmail.com">
    <link rel="icon" href="favicon.ico">
    <title>Carousel Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag "bootstrap.min.css" %>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <%= stylesheet_link_tag "ie10-viewport-bug-workaround.css" %>
    <%= javascript_include_tag "ie-emulation-modes-warning.js" %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "carousel.css" %>
    <!-- footer -->
    <%= stylesheet_link_tag "footer.css" %>
    <!-- font-awesome -->
    <%= stylesheet_link_tag "font-awesome.css" %>
    <!-- bootstrap submenu -->
    <%= javascript_include_tag "bootstrap-submenu.min.js" %>
    <%= stylesheet_link_tag "bootstrap-submenu.min.css" %>
    <%= stylesheet_link_tag "sidebar.css" %>
    <%= stylesheet_link_tag "bootstrap-docs.css" %>
    <%= stylesheet_link_tag "blog.css" %>
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div><!-- end navbar-wrapper -->
    <!-- Carousel
    ================================================== -->
    <!-- <div class="container theme-showcase" role="main"> -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
    <div class="container theme-showcase" role="main">
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 .col-sm-6 .col-lg-8">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
          </div>
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-md-3 sidebar-offcanvas" id="sidebar">
          <!-- <div class="list-group">
            <a href="#" class="list-group-item active">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
          </div>

          <div class="list-group panel">
            <a href="#" class="list-group-item list-group-item-success" data-parent="#MainMenu">Item 1</a>
            <a href="#" class="list-group-item list-group-item-success" data-parent="#MainMenu">Item 2</a>
            <a href="#demo3" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Item 3 <i class="fa fa-caret-down"></i></a>
            <div class="collapse" id="demo3">
              <a href="#SubMenu1" class="list-group-item" data-toggle="collapse" data-parent="#SubMenu1">Subitem 1 <i class="fa fa-caret-down"></i></a>
              <div class="collapse list-group-submenu" id="SubMenu1">
                <a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 1 a</a>
                <a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 2 b</a>
                <a href="#SubSubMenu1" class="list-group-item" data-toggle="collapse" data-parent="#SubSubMenu1">Subitem 3 c <i class="fa fa-caret-down"></i></a>
                <div class="collapse list-group-submenu list-group-submenu-1" id="SubSubMenu1">
                  <a href="#" class="list-group-item" data-parent="#SubSubMenu1">Sub sub item 1</a>
                  <a href="#" class="list-group-item" data-parent="#SubSubMenu1">Sub sub item 2</a>
                </div>
                <a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 4 d</a>
              </div>
              <a href="javascript:;" class="list-group-item">Subitem 2</a>
              <a href="javascript:;" class="list-group-item">Subitem 3</a>
            </div>
            <a href="#demo4" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Item 4  <i class="fa fa-caret-down"></i></a>
            <div class="collapse" id="demo4">
              <a href="" class="list-group-item">Subitem 1</a>
              <a href="" class="list-group-item">Subitem 2</a>
              <a href="" class="list-group-item">Subitem 3</a>
            </div>
          </div> -->

          <div class="nav-side-menu">
              <div class="brand">Brand Logo</div>
              <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                  <div class="menu-list">

                      <ul id="menu-content" class="menu-content collapse out">
                          <li>
                            <a href="#">
                            <i class="fa fa-dashboard fa-lg"></i> Dashboard
                            </a>
                          </li>

                          <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                            <a href="#"><i class="fa fa-gift fa-lg"></i> UI Elements <span class="arrow"></span></a>
                          </li>
                          <ul class="sub-menu collapse" id="products">
                              <li class="active"><a href="">CSS3 Animation</a></li>
                              <li><a href="#">ФЫВАДбфвбфвджфцбвфцждбвфц</a></li>
                              <li><a href="#">Buttons</a></li>
                              <li><a href="#">Tabs & Accordions</a></li>
                              <li><a href="#">Typography</a></li>
                              <li><a href="#">FontAwesome</a></li>
                              <li><a href="#">Slider</a></li>
                              <li><a href="#">Panels</a></li>
                              <li><a href="#">Widgets</a></li>
                              <li><a href="#">Bootstrap Model</a></li>
                          </ul>


                          <li data-toggle="collapse" data-target="#service" class="collapsed">
                            <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
                          </li>
                          <ul class="sub-menu collapse" id="service">
                            <li>New Service 1</li>
                            <li>New Service 2</li>
                            <li>New Service 3</li>
                          </ul>


                          <li data-toggle="collapse" data-target="#new" class="collapsed">
                            <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
                          </li>
                          <ul class="sub-menu collapse" id="new">
                            <li>New New 1</li>
                            <li>New New 2</li>
                            <li>New New 3</li>
                          </ul>


                           <li>
                            <a href="#">
                            <i class="fa fa-user fa-lg"></i> Profile
                            </a>
                            </li>

                           <li>
                            <a href="#">
                            <i class="fa fa-users fa-lg"></i> Users
                            </a>
                          </li>
                      </ul>
               </div>
          </div>

        </div><!--/.sidebar-offcanvas-->

        <div class=".col-md-4 col-md-offset-3">
          <div class="blog-post">
            <h2 class="blog-post-title">Sample blog post</h2>
            <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>

            <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
            <hr>
            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <h2>Heading</h2>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <h3>Sub-heading</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <pre><code>Example code block</code></pre>
            <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
            <h3>Sub-heading</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
            <ol>
              <li>Vestibulum id ligula porta felis euismod semper.</li>
              <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
              <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
            </ol>
            <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Another blog post</h2>
            <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>

            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">New feature</h2>
            <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
        </div>
      </div><!-- /.blog-main -->
    </div> <!-- container -->
</div><!-- /.container -->
      <!-- FOOTER -->
      <!--footer start from here-->
      <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-6 footerleft">
                <div class="logofooter">О центре</div>
                <p>Муниципальное бюджетное учреждение дополнительного образования города Новокузнецка Кемеровской области "Центр детского (юношеского) технического творчества "Меридиан"</p>
                <p><span class="fa fa-location-arrow" aria-hidden="true"></span> 654031, г.Новокузнецк, ул. Горьковская, 11а</p>
                <p><span class="fa fa-phone" aria-hidden="true"></span> тел.: 8 (3843) 52-49-42, 8 (3843) 52-57-90</p>
                <p><span class="fa fa-envelope-o" aria-hidden="true"></span> E-mail: cttmeridian@yandex.ru</font></p>
              </div>
              <div class="col-md-3 col-sm-6 footerleft">
                <h6 class="heading7">Полезные ссылки</h6>
                <ul class="footer-ul">
                  <li><a href="#">Link_id_0</a></li>
                  <li><a href="#">Link_id_0</a></li>
                  <li><a href="#">Link_id_0</a></li>
                  <li><a href="#">Link_id_0</a></li>
                  <li><a href="#">Link_id_0</a></li>
                  <li><a href="#">Link_id_0</a></li>
                  <li><a href="#">Link_id_0</a></li>
                </ul>
              </div>
              <div class="col-md-2 col-sm-6 footerleft">
                <h6 class="heading7">Последние новости</h6>
                <div class="post">
                  <p>#NEWS_ID<span>#DATE</span></p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 footerleft">
          				<h6 class="heading7">Мы в соцсетях</h6>
                  <ul class="footer-social">
                    <ul class="nomargin">
                    <a href="#"><i class="fa fa-vk social-icon vk" aria-hidden="true" id="social"></i></a>
                    <a href="#"><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true" id="social"></i></a>
                    <a href="#"><i class="fa fa-facebook social-icon facebook" aria-hidden="true" id="social"></i></a>
                    <a href="#"><i class="fa fa-twitter social-icon twitter" aria-hidden="true" id="social"></i></a>
                    <a href="#"><i class="fa fa-google-plus social-icon google" aria-hidden="true" id="social"></i></a>
                  </ul>
                </ul>
              </div>
              <!-- <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                <div class="input-append newsletter-box text-center">
                  <input type="text" class="full text-center" placeholder="Email ">
                  <button class="btn  bg-gray" type="button"> Lorem ipsum <i class="fa fa-long-arrow-right"> </i> </button>
                </div>
              </div> -->
            </div>
          </div>
      </footer>
      <!--footer start from here-->
      <div class="copyright">
        <div class="container">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p>© 2018 МБУ ДО "Центр детского (юношеского) технического творчества "<a href="#">Меридиан</a>"</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="design">
                <p><a href="/">Меридиан </a> | <a target="_blank" href="/">Дизайн и Разработка с любовью для Меридиана ;)</a></p>
              </div>
            </div>
        </div>
      </div>
    <!-- </div><!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<%= javascript_include_tag "vendor/jquery.min.js" %><\/script>')</script>
    <%= javascript_include_tag "bootstrap.min.js" %>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <%= javascript_include_tag "vendor/holder.min.js" %>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <%= javascript_include_tag "ie10-viewport-bug-workaround.js" %>
  </body>
</html>
